.container {
  max-width: 120rem;
  margin: 0rem auto;
  background-color: var(--color-grey-light-1);
  box-shadow: var(--shadow-dark);
  display: flex;
  flex-direction: column;
  min-height: 50rem;
}

.header {
  height: 14rem;
  background-color: #fff;
  border-bottom: var(--color-grey-light-2);

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;

  @media only screen and (max-width: $bp-large) {
    height: auto;
  }
}

.header-top {
  width: 100%;
  background-color: var(--color-black-1);
  display: flex;
  justify-content: flex-end;
  align-items: center;
  flex-direction: row;
}

.topbar {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
}

.header-bottom {
  width: 100%;
  background-color: var(--color-white);
  display: flex;
  flex: 1;
  justify-content: flex-start;
  align-items: center;
  flex-direction: row;

  @media only screen and (max-width: $bp-large) {
    flex-wrap: wrap;
  }

  @media only screen and (max-width: $bp-medium) {
    margin-top: 1rem;
  }
}

.menu-top {
  width: 100%;
  /* flex: 1; */
  @media only screen and (max-width: $bp-large) {
    margin-top: 2rem;
  }
}

.content {
  display: flex;

  @media only screen and (max-width: $bp-large) {
    flex-direction: column;
    flex-wrap: wrap;
  }
}

.content-top {
  width: 100%;
  /* height: 35rem; */
  display: flex;
  flex-direction: row;
  background-color: rgb(255, 255, 255);
  @media only screen and (max-width: $bp-large) {
    flex-direction: row;
    flex-wrap: wrap;
  }
}

.sidebar-menu {
  /* background-color: lightblue; */
  flex: 0 0 19.5%;
  @media only screen and (max-width: $bp-large) {
    flex: 0 0 100%;
  }
}

.slider-main {
  /* background-color: lightgoldenrodyellow; */
  flex: 0 0 51.4%;
  position: relative;

  @media only screen and (max-width: $bp-large) {
    flex: 0 0 60%;
    flex-wrap: wrap;
  }
}

.hotDeals {
  /* background-color: lightsalmon; */
  flex: 0 0 30%;

  @media only screen and (max-width: $bp-large) {
    flex: 0 0 40%;
    border: 1px solid var(--color-grey-light-4);
    flex-wrap: wrap;
  }
}

.sidebar {
  /* background-color: var(--color-grey-dark-1); */
  height: 100%;
}

.content-bottom {
  width: 100%;
  /* height: 35rem; */
  display: flex;
  flex-direction: row;
  background-color: var(--color-black-1);

  @media only screen and (max-width: $bp-medium) {
    flex-wrap: wrap;
  }
}

.spacer {
  width: 100%;
  display: flex;
  flex-direction: row;
  background-color: var(--color-black-1);
  padding: 0.9rem 1.5rem;
  align-items: baseline;
}

.footer {
  width: 100%;
  display: flex;
  flex-direction: column;

  padding: 0.9rem 1.5rem;
  justify-content: center;
  align-items: center;
}

.footer-grid {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: baseline;

  &__item {
    margin: 2rem;
    display: flex;
    flex: 0 0 15%;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 1rem;
    border-right: 1px solid var(--color-grey-light-4);

    &:last-of-type {
      border-right: 0;
    }
  }

  &__heading {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    color: var(--color-white);
    text-decoration: none;

    &.heading-1 {
      font-size: 1rem;
      margin: 0.2rem 0.2rem;
      &:hover {
        color: var(--color-grey-light-5);
      }
    }
    &.heading-1-1 {
      font-size: 1.1rem;
      margin: 0.2rem 0.2rem;
      &:hover {
        color: var(--color-grey-light-5);
      }
    }
    &.heading-2 {
      font-size: 1.2rem;
      margin: 0.5rem 0.5rem;
    }
    &.heading-3 {
      font-size: 1.4rem;
      margin: 1rem 1rem;
      &:hover {
        color: var(--color-grey-light-5);
      }
    }
  }
}

.footer-terms {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: baseline;
  padding: 0 15%;
}

.footer-copyright {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: baseline;
  padding: 0 15%;
}

.footer-keywords {
  margin-bottom: 6rem;

  &__keyword {
    margin-right: 3rem;
    margin-top: 4rem;

    &:hover {
      color: var(--color-grey-light-5);
    }
  }
}

.product-grid {
  width: 100%;
  display: flex;
  flex-direction: row;

  padding-top: 2rem;
  padding-bottom: 0.5rem;

  @media only screen and (max-width: $bp-medium) {
    flex-wrap: wrap;
  }

  &__item {
    &.separator {
      border-right: 1px solid var(--color-black-1);

      &:last-of-type {
        border-right: 0;
      }

      @media only screen and (max-width: $bp-medium) {
        border: 1px transparent var(--color-black-1);
      }
    }

    width: 20%;

    @media only screen and (max-width: $bp-medium) {
      width: 33%;
    }
  }
}
